Repository openfoodfacts/search-a-licious, changes with the labels that .github/labeler.yml gives for each.
All labels: üìö Documentation, API, Build Scripts, üê≥ docker, Indexation, Taxonomies, CLI, Config

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

fix: setup CORS as a public API
  .env
  .github/workflows/container-deploy.yml
  .github/workflows/pre-commit.yml
  app/api.py
  docker-compose.yml
  docs/devs/how-to-install.md
Labels: üìö Documentation, API, üê≥ docker

Deploying to gh-pages from @ openfoodfacts/search-a-licious@d92192344e3e868b7bc4a3ec086ac0850686db82 🚀
  devs/how-to-install/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

docs: Generate comprehensive GitHub Copilot instructions for search-a-licious development (#316)
  .github/copilot-instructions.md
Labels: none

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@6e80e79b5692fed54a920220f870130ed68a625f 🚀
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@77dc6eab8aeb7c6d848a8d89d7b9456d37169f57 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

ci: Add GitHub Action to auto-fix linting issues via PR comments (#320)
  .github/workflows/auto-fix-linting.yml
  app/es_scripts.py
  docs/devs/how-to-install.md
Labels: üìö Documentation

Deploying to gh-pages from @ openfoodfacts/search-a-licious@24bbffe6948e075355a0e490183f401204659404 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/dist/custom-elements.json
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@7d6338112a784bea5564dbfbfd6aa8ddcce92ee4 🚀
  devs/how-to-install/index.html
  devs/ref-python/types.html
  search/search_index.json
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/dist/custom-elements.json
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@7c80ee84e736c9adf2ec487126afef152ee64ea2 🚀
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
üìö Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - 'docs/*'
API:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/sphinx/api.rst'
    - 'app/api.py'

Build Scripts:
- changed-files:
  - any-glob-to-any-file: 'scripts/Dockerfile.sphinx'
  - any-glob-to-any-file: 'scripts/build_*.sh'
  - any-glob-to-any-file: 'scripts/generate_doc.sh'
  - any-glob-to-any-file: 'scripts/sphinx/Makefile'

üê≥ docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Indexation:
- changed-files:
  - any-glob-to-any-file: 'app/indexing.py'
  - any-glob-to-any-file: 'docs/sphinx/index.rst'
  
Taxonomies:
- changed-files:
  - any-glob-to-any-file: 'app/taxonomy.py'
  - any-glob-to-any-file: 'app/taxonomy_es.py'
  
CLI:
- changed-files:
  - any-glob-to-any-file: 'app/cli/main.py'
  - any-glob-to-any-file: 'docs/sphinx/cli.rst'
  
Config:
- changed-files:
  - any-glob-to-any-file: 'docs/sphinx/config.rst'

#  - any-glob-to-any-file: 'app/query.py'
#  - any-glob-to-any-file: 'app/utils/analyzers.py'
#  - any-glob-to-any-file: 'app/utils/download.py'
#  - any-glob-to-any-file: 'app/validations.py'
