Repository openfoodfacts/search-a-licious, changes with the labels that .github/labeler.yml gives for each.
All labels: üìö Documentation, API, Build Scripts, üê≥ docker, Indexation, Taxonomies, CLI, Config

chore(frontend): Pin NPM version to 11.9.0
  frontend/package-lock.json
  frontend/package.json
Labels: none

chore: Replace poetry-lock with poetry-check hook in pre-commit config
  .pre-commit-config.yaml
Labels: none

chore: Limit --progress=plain to CI
  .github/workflows/auto-fix-linting.yml
  .github/workflows/pre-commit.yml
  Makefile
Labels: none

chore: format files with black
  app/utils/download.py
  tests/unit/test__import.py
Labels: none

chore: Refactor build_mkdocs.sh
  scripts/build_mkdocs.sh
  scripts/build_sphinx.sh
  scripts/generate_doc.sh
Labels: Build Scripts

chore: Use multi-stage build and update Poetry in Dockerfile.sphinx
  scripts/Dockerfile.sphinx
Labels: Build Scripts

New translations en.xlf (English, United Kingdom)
  frontend/xliff/en_GB.xlf
Labels: none

chore: Limit --progress=plain to CI (#354)
  .github/workflows/auto-fix-linting.yml
  .github/workflows/pre-commit.yml
  Makefile
Labels: none

fix(deps): Bump vulnerable dependencies in frontend (#353)
  frontend/package-lock.json
  frontend/package.json
Labels: none

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@521f996ee0a021a4f23a88a288c77a864b4486e4 🚀
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@aa6d6193c81ea48c6a524cb52a88476dfff741e2 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

chore(build): Allow to specify SUDO env var to elevate privileges
  Makefile
  docs/users/how-to-install.md
Labels: üìö Documentation

chore(build): Allow to specify SUDO env var to elevate privileges (#355)
  Makefile
  docs/users/how-to-install.md
Labels: üìö Documentation

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@920bceeeb6cd9fc0f0918cb48a9f46dd65242589 🚀
  404.html
  devs/explain-architecture/index.html
  devs/explain-web-frontend/index.html
  devs/how-to-debug-backend/index.html
  devs/how-to-install/index.html
  devs/introduction/index.html
  index.html
  reports/2024-06 thoughts on scoring/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  users/explain-configuration/index.html
  users/explain-query-language/index.html
  users/explain-taxonomies/index.html
  users/how-to-install/index.html
  users/how-to-update-index/index.html
  users/how-to-use-scripts/index.html
  users/ref-config/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/index.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/index.html
  users/tutorial/index.html
Labels: none

Apply suggested fix to docs/users/how-to-install.md from Copilot Autofix
  docs/users/how-to-install.md
Labels: üìö Documentation

fix(cli): raise non-zero exit on import errors
  app/cli/main.py
Labels: CLI

fix(api): return proper search error status codes
  app/api.py
  app/search.py
  tests/unit/test_api.py
Labels: API

fix(ci): correct USER_UID env var in pre-commit workflow
  .github/workflows/pre-commit.yml
Labels: none

chore(docker): Standardize FROM syntax in Dockerfile
  Dockerfile
Labels: üê≥ docker

chore: Use multi-stage build and update Poetry in Dockerfile.sphinx
  scripts/Dockerfile.sphinx
Labels: Build Scripts

chore: Update Poetry to 2.3.2
  .pre-commit-config.yaml
  Dockerfile
Labels: üê≥ docker

chore: format files with black
  app/utils/download.py
  tests/unit/test__import.py
Labels: none

chore: Refactor build_mkdocs.sh
  scripts/build_mkdocs.sh
  scripts/build_sphinx.sh
  scripts/generate_doc.sh
Labels: Build Scripts

chore: Replace poetry-lock with poetry-check hook in pre-commit config
  .pre-commit-config.yaml
Labels: none

chore: Convert to PEP 621 project metadata format
  poetry.lock
  pyproject.toml
Labels: none

fix(docker): disable ES disk watermarks in dev compose
  docker/dev.yml
Labels: none

fix(tests): Add --wait option to API integration tests for Elasticsearch startup
  Makefile
Labels: none

chore: Add sysctl setup step in pre-commit workflow
  .github/workflows/pre-commit.yml
Labels: none

fix(api): use structured placeholders in health logging
  app/api.py
Labels: API

fix(search): invalidate runtime caches when config changes
  app/search.py
  tests/unit/test_search_runtime_cache.py
Labels: none

refactor(frontend): add explicit facet types for search result signal
  frontend/src/interfaces/search-result-interfaces.ts
  frontend/src/search-facets.ts
  frontend/src/signals.ts
Labels: none

chore(techdebt): replace runtime TODO/FIXME with tracked markers
  app/charts.py
  app/facets.py
  app/query.py
  app/query_transformers.py
  docs/devs/runtime-techdebt.md
  frontend/src/search-suggester.ts
Labels: üìö Documentation

refactor(query): extract query pipeline mutation logic to reduce complexity
  app/query.py
  app/query_pipeline.py
Labels: none

Apply suggestion from @Copilot
  docs/users/how-to-install.md
Labels: üìö Documentation

refactor(frontend): split SearchaliciousSearchMixin into smaller mixins
  frontend/src/mixins/search-ctl-api.ts
  frontend/src/mixins/search-ctl-dom.ts
  frontend/src/mixins/search-ctl-state.ts
  frontend/src/mixins/search-ctl.ts
Labels: none

refactor(backend): modularize oversized config module into app/config package
  app/config/__init__.py
  app/config/loader.py
  app/config/models.py
  app/config/settings.py
Labels: none

feat(backend): introduce bounded lru_cache and observability to query-builder
  app/health.py
  app/search.py
Labels: none

test(frontend): improve frontend test breadth for search controller
  frontend/src/test/search-ctl_test.ts
Labels: none

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
üìö Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - 'docs/*'
API:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/sphinx/api.rst'
    - 'app/api.py'

Build Scripts:
- changed-files:
  - any-glob-to-any-file: 'scripts/Dockerfile.sphinx'
  - any-glob-to-any-file: 'scripts/build_*.sh'
  - any-glob-to-any-file: 'scripts/generate_doc.sh'
  - any-glob-to-any-file: 'scripts/sphinx/Makefile'

üê≥ docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Indexation:
- changed-files:
  - any-glob-to-any-file: 'app/indexing.py'
  - any-glob-to-any-file: 'docs/sphinx/index.rst'
  
Taxonomies:
- changed-files:
  - any-glob-to-any-file: 'app/taxonomy.py'
  - any-glob-to-any-file: 'app/taxonomy_es.py'
  
CLI:
- changed-files:
  - any-glob-to-any-file: 'app/cli/main.py'
  - any-glob-to-any-file: 'docs/sphinx/cli.rst'
  
Config:
- changed-files:
  - any-glob-to-any-file: 'docs/sphinx/config.rst'

#  - any-glob-to-any-file: 'app/query.py'
#  - any-glob-to-any-file: 'app/utils/analyzers.py'
#  - any-glob-to-any-file: 'app/utils/download.py'
#  - any-glob-to-any-file: 'app/validations.py'
