Repository openfoodfacts/search-a-licious, changes with the labels that .github/labeler.yml gives for each.
All labels: üìö Documentation, API, Build Scripts, üê≥ docker, Indexation, Taxonomies, CLI, Config

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
üìö Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - 'docs/*'
API:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/sphinx/api.rst'
    - 'app/api.py'

Build Scripts:
- changed-files:
  - any-glob-to-any-file: 'scripts/Dockerfile.sphinx'
  - any-glob-to-any-file: 'scripts/build_*.sh'
  - any-glob-to-any-file: 'scripts/generate_doc.sh'
  - any-glob-to-any-file: 'scripts/sphinx/Makefile'

üê≥ docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Indexation:
- changed-files:
  - any-glob-to-any-file: 'app/indexing.py'
  - any-glob-to-any-file: 'docs/sphinx/index.rst'
  
Taxonomies:
- changed-files:
  - any-glob-to-any-file: 'app/taxonomy.py'
  - any-glob-to-any-file: 'app/taxonomy_es.py'
  
CLI:
- changed-files:
  - any-glob-to-any-file: 'app/cli/main.py'
  - any-glob-to-any-file: 'docs/sphinx/cli.rst'
  
Config:
- changed-files:
  - any-glob-to-any-file: 'docs/sphinx/config.rst'

#  - any-glob-to-any-file: 'app/query.py'
#  - any-glob-to-any-file: 'app/utils/analyzers.py'
#  - any-glob-to-any-file: 'app/utils/download.py'
#  - any-glob-to-any-file: 'app/validations.py'

Deploying to gh-pages from @ openfoodfacts/search-a-licious@5d519752bb145859cfbda1361fae2d73b2117e4f 🚀
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

refactor: minor formating changes to Dockerfile
  Dockerfile
Labels: üê≥ docker

chore: Convert to PEP 621 project metadata format (#352)
  .pre-commit-config.yaml
  Dockerfile
  app/utils/download.py
  poetry.lock
  pyproject.toml
  scripts/Dockerfile.sphinx
  scripts/build_mkdocs.sh
  scripts/build_sphinx.sh
  scripts/generate_doc.sh
  tests/unit/test__import.py
Labels: Build Scripts, üê≥ docker

Deploying to gh-pages from @ openfoodfacts/search-a-licious@d29ee904493d46444ddfbb725624f2940605bcd7 🚀
  devs/ref-python/_static/pygments.css
  devs/ref-python/api.html
  devs/ref-python/cli.html
  devs/ref-python/config.html
  devs/ref-python/genindex.html
  devs/ref-python/index.html
  devs/ref-python/misc.html
  devs/ref-python/py-modindex.html
  devs/ref-python/search.html
  devs/ref-python/searchindex.js
  devs/ref-python/searching.html
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

fix(tests): Add --wait option to API integration tests for Elasticsearch startup (#383)
  .github/workflows/pre-commit.yml
  Makefile
Labels: none

fix(api): return proper search error status codes (#376)
  app/api.py
  app/search.py
  tests/unit/test_api.py
Labels: API

fix: top bar search resets state instead of refining (#417)
  frontend/package-lock.json
  frontend/src/search-bar.ts
  frontend/src/test/search-bar_test.ts
Labels: none

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@71f9f607f51015a6807edade484e362fcc5a3105 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@495b4879c9d9570854a693d4f95537f44f30cf1c 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@40373db844ddf468f4647e4d8de4a2ad3a24d493 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@dae7b4a79b0010c74653099ac376cd58cd410b11 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/dist/custom-elements.json
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@c8ad91d150961a2c11e22b5c455b287511d1dc63 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/dist/custom-elements.json
Labels: none

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

fix(facets): localize pseudo-facet labels and support translated display names
  app/config.py
  app/facets.py
  tests/unit/data/test_prod_config_openfoodfacts.json
  tests/unit/test_facets.py
Labels: none

fix(api): return HTTP 400 for malformed numeric range queries
  app/query.py
  tests/unit/test_api.py
Labels: none

fix(query): validate nested sub-fields in Lucene query checker (#SAL-TECHDEBT-010)
  app/query_transformers.py
  tests/unit/data/complex_query.json
  tests/unit/test_query.py
Labels: none

Update Dockerfile
  frontend/Dockerfile
Labels: none
