Repository openfoodfacts/search-a-licious, changes with the labels that .github/labeler.yml gives for each.
All labels: üìö Documentation, API, Build Scripts, üê≥ docker, Indexation, Taxonomies, CLI, Config

test: fix unit tests
  tests/unit/conftest.py
  tests/unit/data/complex_query.json
  tests/unit/data/non_existing_subfield.json
  tests/unit/data/openfoodfacts_config.yml
  tests/unit/data/simple_full_text_query.json
  tests/unit/data/simple_full_text_query_facets.json
  tests/unit/data/sort_by_query.json
  tests/unit/data/test_openfoodfacts_document_preprocessor.json
  tests/unit/data/wildcard_in_phrase_is_legit.json
  tests/unit/test_query.py
Labels: none

test: fix tests
  tests/int/test_analyze.py
  tests/int/test_import_data.py
  tests/unit/conftest.py
Labels: none

chore: lint / mypy
  app/cli/main.py
  app/config.py
  app/indexing.py
  tests/unit/test_conform_json.py
Labels: Indexation, CLI

feat: update demo home page with new fields
  app/openfoodfacts.py
  app/templates/display_results.html
  frontend/public/off.html
  tests/unit/data/openfoodfacts_config.yml
Labels: none

docs: update sample import
  docs/devs/how-to-install.md
Labels: üìö Documentation

fix: remove pdb
  tests/int/test_analyze.py
Labels: none

fix: Fix check_translations pre-commit hook failures due to corrupted node_modules (#326)
  Makefile
Labels: none

fix: demo personal score
  data/config/openfoodfacts.yml
Labels: none

fix: bug in computing images
  app/openfoodfacts.py
Labels: none

fix: projection a images field computation
  app/openfoodfacts.py
  app/postprocessing.py
Labels: none

fix: lot of small fix after review by coderabbit and copilot
  app/_import.py
  app/api.py
  app/config.py
  app/indexing.py
  app/openfoodfacts.py
  app/search.py
  app/taxonomy_es.py
  app/templates/display_results.html
  app/utils/analyzers.py
  data/config/openfoodfacts.yml
  docs/devs/how-to-install.md
  frontend/public/off.html
  tests/int/helpers.py
  tests/int/test_analyze.py
  tests/unit/data/openfoodfacts_config.yml
  tests/unit/data/test_mapping.json
  tests/unit/data/test_openfoodfacts_document_preprocessor.json
  tests/unit/data/test_prod_config_openfoodfacts.json
Labels: üìö Documentation, API, Indexation, Taxonomies

fix: some test fix
  app/templates/display_results.html
  tests/unit/data/test_mapping.json
  tests/unit/data/test_prod_config_openfoodfacts.json
Labels: none

build(search_nodejs): add mocha types
  frontend/package-lock.json
  frontend/package.json
Labels: none

chore: flake8 compliance
  app/charts.py
  app/facets.py
Labels: none

chore: avoid logger.warn (deprecated)
  app/_import.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@35bc3c17949f4023f15be86270011045c0f59b63 🚀
  404.html
  devs/explain-architecture/index.html
  devs/explain-web-frontend/index.html
  devs/how-to-debug-backend/index.html
  devs/how-to-install/index.html
  devs/introduction/index.html
  devs/ref-python/config.html
  devs/ref-python/genindex.html
  devs/ref-python/objects.inv
  devs/ref-python/searchindex.js
  devs/ref-python/searching.html
  devs/ref-python/types.html
  devs/runtime-techdebt/index.html
  index.html
  reports/2024-06 thoughts on scoring/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  users/explain-configuration/index.html
  users/explain-query-language/index.html
  users/explain-taxonomies/index.html
  users/how-to-install/index.html
  users/how-to-update-index/index.html
  users/how-to-use-scripts/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-config/searchalicious-config-schema.yml
  users/ref-settings/index.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-settings/searchalicious-settings-schema.yml
  users/ref-web-components/index.html
  users/tutorial/index.html
Labels: none

fix: make import more robust
  app/_import.py
  app/openfoodfacts.py
Labels: none

fix: better way of having robust imports
  app/_import.py
  app/openfoodfacts.py
Labels: none

ci: expose es even in prod
  docker/prod.yml
Labels: none

fix: make import more robust (#441)
  app/_import.py
  app/openfoodfacts.py
  docker/prod.yml
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@328f28e3c613a86b69b572b8c5c7bfb930857abb 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

fix(docker): Improve backend Docker build caching (#424)
  Dockerfile
Labels: üê≥ docker

Deploying to gh-pages from @ openfoodfacts/search-a-licious@1c743c606133fc2f397f084928d1a27351b4e11d 🚀
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@a263f51b64d75027cc5c2fbfe02cab66b3e551a2 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@5e0f7a3bce8b947e01fac61a7da4b8cb5be911b0 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@02c0a6ee04249af67bb89dffe92e252d774da347 🚀
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

chore: Convert to PEP 621 project metadata format
  poetry.lock
  pyproject.toml
Labels: none

chore: Refactor build_mkdocs.sh
  scripts/build_mkdocs.sh
  scripts/build_sphinx.sh
  scripts/generate_doc.sh
Labels: Build Scripts

chore: Use multi-stage build and update Poetry in Dockerfile.sphinx
  scripts/Dockerfile.sphinx
Labels: Build Scripts

chore: format files with black
  app/utils/download.py
  tests/unit/test__import.py
Labels: none

chore: Update Poetry to 2.3.2
  .pre-commit-config.yaml
  Dockerfile
Labels: üê≥ docker

chore: Replace poetry-lock with poetry-check hook in pre-commit config
  .pre-commit-config.yaml
Labels: none

fix: resolve PR 352 review and CI issues
  poetry.lock
  pyproject.toml
  scripts/Dockerfile.sphinx
  scripts/generate_doc.sh
Labels: Build Scripts

fix: align Sphinx docs runtime dependencies
  poetry.lock
  pyproject.toml
  scripts/Dockerfile.sphinx
Labels: Build Scripts

fix: install make in docs image
  scripts/Dockerfile.sphinx
Labels: Build Scripts

fix: make documentation CI reproducible
  .pre-commit-config.yaml
  scripts/Dockerfile.sphinx
Labels: Build Scripts

Deploying to gh-pages from @ openfoodfacts/search-a-licious@76f408a7ef2c8df49c35a9e87dda9ddfcdd35731 🚀
  devs/how-to-install/index.html
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/explain-query-language/index.html
  users/how-to-use-scripts/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/dist/custom-elements.json
  users/tutorial/index.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@65056aca33d723fa9f2e1ed40ad765421ab44d8b 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/dist/custom-elements.json
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@0e07d6cf994888b7ba00c789d005a2bb4919ea84 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/dist/custom-elements.json
Labels: none

test(api): cover empty GET charts
  tests/unit/conftest.py
  tests/unit/test_types.py
Labels: none

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
üìö Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - 'docs/*'
API:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/sphinx/api.rst'
    - 'app/api.py'

Build Scripts:
- changed-files:
  - any-glob-to-any-file: 'scripts/Dockerfile.sphinx'
  - any-glob-to-any-file: 'scripts/build_*.sh'
  - any-glob-to-any-file: 'scripts/generate_doc.sh'
  - any-glob-to-any-file: 'scripts/sphinx/Makefile'

üê≥ docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Indexation:
- changed-files:
  - any-glob-to-any-file: 'app/indexing.py'
  - any-glob-to-any-file: 'docs/sphinx/index.rst'
  
Taxonomies:
- changed-files:
  - any-glob-to-any-file: 'app/taxonomy.py'
  - any-glob-to-any-file: 'app/taxonomy_es.py'
  
CLI:
- changed-files:
  - any-glob-to-any-file: 'app/cli/main.py'
  - any-glob-to-any-file: 'docs/sphinx/cli.rst'
  
Config:
- changed-files:
  - any-glob-to-any-file: 'docs/sphinx/config.rst'

#  - any-glob-to-any-file: 'app/query.py'
#  - any-glob-to-any-file: 'app/utils/analyzers.py'
#  - any-glob-to-any-file: 'app/utils/download.py'
#  - any-glob-to-any-file: 'app/validations.py'
