Repository openfoodfacts/search-a-licious, changes with the labels that .github/labeler.yml gives for each.
All labels: üìö Documentation, API, Build Scripts, üê≥ docker, Indexation, Taxonomies, CLI, Config

fix: type hints after pre-commit update
  .pre-commit-config.yaml
  app/_types.py
  app/charts.py
  app/openfoodfacts.py
  app/query.py
  tests/unit/test_query.py
Labels: none

fix: fix small bug after refactor
  app/_types.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@baf6387582ac9fee4f9ff995e320ea55a85e8d0f 🚀
  404.html
  assets/javascripts/bundle.83f73b43.min.js
  assets/javascripts/bundle.83f73b43.min.js.map
  assets/javascripts/bundle.88dd0f4e.min.js
  assets/javascripts/bundle.88dd0f4e.min.js.map
  assets/stylesheets/main.0253249f.min.css
  assets/stylesheets/main.0253249f.min.css.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.6f8fc17f.min.css.map
  devs/explain-architecture/index.html
  devs/explain-web-frontend/index.html
  devs/how-to-debug-backend/index.html
  devs/how-to-install/index.html
  devs/introduction/index.html
  index.html
  reports/2024-06 thoughts on scoring/index.html
  sitemap.xml
  sitemap.xml.gz
  users/explain-configuration/index.html
  users/explain-query-language/index.html
  users/explain-taxonomies/index.html
  users/how-to-install/index.html
  users/how-to-update-index/index.html
  users/how-to-use-scripts/index.html
  users/ref-config/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/index.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/index.html
  users/tutorial/index.html
Labels: none

fix: type hints after pre-commit update (#269)
  .pre-commit-config.yaml
  app/_types.py
  app/charts.py
  app/openfoodfacts.py
  app/query.py
  tests/unit/test_query.py
Labels: none

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@acd55a178c26f16d7904d4b2e03a0b7dfc5b4405 🚀
  devs/ref-python/genindex.html
  devs/ref-python/objects.inv
  devs/ref-python/searchindex.js
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

refactor: use a fixture to dump/load tests results
  tests/unit/conftest.py
  tests/unit/test_query.py
Labels: none

feat: (wip) adding sub fields to object
  app/config.py
  app/indexing.py
  data/config/openfoodfacts.yml
  tests/int/data/test_off.yml
  tests/unit/data/openfoodfacts_config.yml
  tests/unit/data/test_mapping.json
  tests/unit/test_config.py
  tests/unit/test_indexing.py
Labels: Indexation

Run make lint
  app/search.py
Labels: none

New translations en.xlf (Ukrainian)
  frontend/xliff/uk.xlf
Labels: none

chore: fix typo
  app/config.py
Labels: none

feat: adding sub fields to object (#271)
  app/config.py
  app/indexing.py
  data/config/openfoodfacts.yml
  tests/int/data/test_off.yml
  tests/unit/conftest.py
  tests/unit/data/openfoodfacts_config.yml
  tests/unit/data/test_mapping.json
  tests/unit/test_config.py
  tests/unit/test_indexing.py
  tests/unit/test_query.py
Labels: Indexation

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@33368c7d7c1e0ff086502c9ac5dc197d8ca741c0 🚀
  devs/ref-python/config.html
  devs/ref-python/genindex.html
  devs/ref-python/objects.inv
  devs/ref-python/searchindex.js
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-config/searchalicious-config-schema.yml
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

New translations en.xlf (Chinese Traditional, Hong Kong)
  frontend/xliff/zh.xlf
Labels: none

New translations en.xlf (Dutch, Belgium)
  frontend/xliff/nl.xlf
Labels: none

New translations en.xlf (Russian)
  frontend/xliff/ru.xlf
Labels: none

Run make lint
  app/search.py
Labels: none

Run pre-commit properly
  app/search.py
Labels: none

fix: handle invalid lucene query term values gracefully
  app/api.py
  app/search.py
Labels: API

New translations en.xlf (English, United Kingdom)
  frontend/xliff/en.xlf
Labels: none

New translations en.xlf (Karakalpak)
  frontend/xliff/kaa.xlf
Labels: none

New translations en.xlf (Greek)
  frontend/xliff/el.xlf
Labels: none

fix: handle invalid lucene query term values gracefully (#268)
  app/api.py
  app/search.py
Labels: API

Deploying to gh-pages from @ openfoodfacts/search-a-licious@7644c295a7cb737ddc6cc2ddce0f54191f3f402e 🚀
  404.html
  assets/javascripts/bundle.60a45f97.min.js
  assets/javascripts/bundle.60a45f97.min.js.map
  assets/javascripts/bundle.88dd0f4e.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/javascripts/workers/search.f8cc74c7.min.js
  assets/javascripts/workers/search.f8cc74c7.min.js.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.a40c8224.min.css
  assets/stylesheets/main.a40c8224.min.css.map
  devs/explain-architecture/index.html
  devs/explain-web-frontend/index.html
  devs/how-to-debug-backend/index.html
  devs/how-to-install/index.html
  devs/introduction/index.html
  devs/ref-python/api.html
  devs/ref-python/types.html
  index.html
  reports/2024-06 thoughts on scoring/index.html
  sitemap.xml
  sitemap.xml.gz
  users/explain-configuration/index.html
  users/explain-query-language/index.html
  users/explain-taxonomies/index.html
  users/how-to-install/index.html
  users/how-to-update-index/index.html
  users/how-to-use-scripts/index.html
  users/ref-config/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-openapi/index.html
  users/ref-settings/index.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/index.html
  users/tutorial/index.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@2a8f5fbd4452fea8f7455fdd8c15c78571348e18 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@06557a8b7a684a8810d30526fdc3d986db528676 🚀
  404.html
  assets/javascripts/bundle.5090c770.min.js
  assets/javascripts/bundle.5090c770.min.js.map
  assets/javascripts/bundle.60a45f97.min.js
  assets/javascripts/bundle.60a45f97.min.js.map
  devs/explain-architecture/index.html
  devs/explain-web-frontend/index.html
  devs/how-to-debug-backend/index.html
  devs/how-to-install/index.html
  devs/introduction/index.html
  devs/ref-python/types.html
  index.html
  reports/2024-06 thoughts on scoring/index.html
  sitemap.xml
  sitemap.xml.gz
  users/explain-configuration/index.html
  users/explain-query-language/index.html
  users/explain-taxonomies/index.html
  users/how-to-install/index.html
  users/how-to-update-index/index.html
  users/how-to-use-scripts/index.html
  users/ref-config/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/index.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/index.html
  users/tutorial/index.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@6908930b5a907328225e17950c8e1ebaba44c85f 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

ci: Update crowdin.yml
  crowdin.yml
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@165d025b7a781f8cf97c4a94e6e69492e6ffe05e 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

New translations en.xlf (Dutch)
  frontend/xliff/nl.xlf
Labels: none

New translations en.xlf (Portuguese)
  frontend/xliff/pt.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Chinese Simplified)
  frontend/xliff/zh.xlf
Labels: none

New translations en.xlf (Chinese Traditional)
  frontend/xliff/zh.xlf
Labels: none

New translations en.xlf (English)
  frontend/xliff/en.xlf
Labels: none

New translations en.xlf (English, Australia)
  frontend/xliff/en.xlf
Labels: none

New translations en.xlf (Chinese Traditional, Hong Kong)
  frontend/xliff/zh.xlf
Labels: none

New translations en.xlf (Serbian (Latin))
  frontend/xliff/sr.xlf
Labels: none

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
üìö Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - 'docs/*'
API:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/sphinx/api.rst'
    - 'app/api.py'

Build Scripts:
- changed-files:
  - any-glob-to-any-file: 'scripts/Dockerfile.sphinx'
  - any-glob-to-any-file: 'scripts/build_*.sh'
  - any-glob-to-any-file: 'scripts/generate_doc.sh'
  - any-glob-to-any-file: 'scripts/sphinx/Makefile'

üê≥ docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Indexation:
- changed-files:
  - any-glob-to-any-file: 'app/indexing.py'
  - any-glob-to-any-file: 'docs/sphinx/index.rst'
  
Taxonomies:
- changed-files:
  - any-glob-to-any-file: 'app/taxonomy.py'
  - any-glob-to-any-file: 'app/taxonomy_es.py'
  
CLI:
- changed-files:
  - any-glob-to-any-file: 'app/cli/main.py'
  - any-glob-to-any-file: 'docs/sphinx/cli.rst'
  
Config:
- changed-files:
  - any-glob-to-any-file: 'docs/sphinx/config.rst'

#  - any-glob-to-any-file: 'app/query.py'
#  - any-glob-to-any-file: 'app/utils/analyzers.py'
#  - any-glob-to-any-file: 'app/utils/download.py'
#  - any-glob-to-any-file: 'app/validations.py'
