Repository openfoodfacts/search-a-licious, changes with the labels that .github/labeler.yml gives for each.
All labels: üìö Documentation, API, Build Scripts, üê≥ docker, Indexation, Taxonomies, CLI, Config

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@4a5f26b097e73be2cc0e69f1186442881d9004a5 🚀
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@f6b9e55719a23046e4ac4875fd029e405db206f2 🚀
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

fix: handle synonyms in ES
  .env.openfoodfacts
  Makefile
  app/_import.py
  app/config.py
  app/exceptions.py
  app/indexing.py
  app/taxonomy_es.py
  app/utils/analyzers.py
  app/utils/connection.py
  app/utils/lists.py
  docker-compose.yml
  docker/prod.yml
  tests/int/conftest.py
  tests/int/data_generation.py
  tests/int/test_analyze.py
  tests/int/test_import_data.py
  tests/int/test_search.py
  tests/unit/data/test_prod_config_openfoodfacts.json
Labels: üê≥ docker, Indexation, Taxonomies

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

test: fix import taxonomies test
  app/taxonomy_es.py
  tests/int/test_import_taxonomies.py
Labels: Taxonomies

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
üìö Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - 'docs/*'
API:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/sphinx/api.rst'
    - 'app/api.py'

Build Scripts:
- changed-files:
  - any-glob-to-any-file: 'scripts/Dockerfile.sphinx'
  - any-glob-to-any-file: 'scripts/build_*.sh'
  - any-glob-to-any-file: 'scripts/generate_doc.sh'
  - any-glob-to-any-file: 'scripts/sphinx/Makefile'

üê≥ docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Indexation:
- changed-files:
  - any-glob-to-any-file: 'app/indexing.py'
  - any-glob-to-any-file: 'docs/sphinx/index.rst'
  
Taxonomies:
- changed-files:
  - any-glob-to-any-file: 'app/taxonomy.py'
  - any-glob-to-any-file: 'app/taxonomy_es.py'
  
CLI:
- changed-files:
  - any-glob-to-any-file: 'app/cli/main.py'
  - any-glob-to-any-file: 'docs/sphinx/cli.rst'
  
Config:
- changed-files:
  - any-glob-to-any-file: 'docs/sphinx/config.rst'

#  - any-glob-to-any-file: 'app/query.py'
#  - any-glob-to-any-file: 'app/utils/analyzers.py'
#  - any-glob-to-any-file: 'app/utils/download.py'
#  - any-glob-to-any-file: 'app/validations.py'
