Repository openfoodfacts/search-a-licious, changes with the labels that .github/labeler.yml gives for each.
All labels: üìö Documentation, API, Build Scripts, üê≥ docker, Indexation, Taxonomies, CLI, Config

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
üìö Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - 'docs/*'
API:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/sphinx/api.rst'
    - 'app/api.py'

Build Scripts:
- changed-files:
  - any-glob-to-any-file: 'scripts/Dockerfile.sphinx'
  - any-glob-to-any-file: 'scripts/build_*.sh'
  - any-glob-to-any-file: 'scripts/generate_doc.sh'
  - any-glob-to-any-file: 'scripts/sphinx/Makefile'

üê≥ docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Indexation:
- changed-files:
  - any-glob-to-any-file: 'app/indexing.py'
  - any-glob-to-any-file: 'docs/sphinx/index.rst'
  
Taxonomies:
- changed-files:
  - any-glob-to-any-file: 'app/taxonomy.py'
  - any-glob-to-any-file: 'app/taxonomy_es.py'
  
CLI:
- changed-files:
  - any-glob-to-any-file: 'app/cli/main.py'
  - any-glob-to-any-file: 'docs/sphinx/cli.rst'
  
Config:
- changed-files:
  - any-glob-to-any-file: 'docs/sphinx/config.rst'

#  - any-glob-to-any-file: 'app/query.py'
#  - any-glob-to-any-file: 'app/utils/analyzers.py'
#  - any-glob-to-any-file: 'app/utils/download.py'
#  - any-glob-to-any-file: 'app/validations.py'

fix(api): restore routes after conflict resolution
  app/api.py
Labels: API

fix: correct USER_IID to USER_UID in pre-commit workflow
  .github/workflows/pre-commit.yml
Labels: none

fix(api): handle empty GET charts safely
  app/_types.py
  tests/unit/test_types.py
Labels: none

Apply suggested fix to docs/users/how-to-install.md from Copilot Autofix
  docs/users/how-to-install.md
Labels: üìö Documentation

Apply suggested fix to docs/users/how-to-install.md from Copilot Autofix
  docs/users/how-to-install.md
Labels: üìö Documentation

Improve backend Docker build caching
  Dockerfile
Labels: üê≥ docker

Speed up frontend Docker CI builds
  .github/workflows/pre-commit.yml
  docker/ci-cache.yml
  frontend/Dockerfile
Labels: none

fix: change stack version to be compatible to newer kernels, not supporting cgroup1 any more
  .env
Labels: none

fix: try docker upgrade
  .github/workflows/pre-commit.yml
Labels: none

fix: try docker upgrade
  .github/workflows/pre-commit.yml
Labels: none

fix: try docker upgrade
  .github/workflows/pre-commit.yml
Labels: none

fix: try docker upgrade
  .github/workflows/pre-commit.yml
Labels: none

fix: try docker upgrade
  .github/workflows/pre-commit.yml
Labels: none

fix: try docker upgrade
  .github/workflows/pre-commit.yml
Labels: none

fix: try docker upgrade
  .github/workflows/pre-commit.yml
Labels: none

fix: try docker upgrade
  .github/workflows/pre-commit.yml
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

chore: New translations to review and merge (#351)
  frontend/xliff/ar.xlf
  frontend/xliff/en_GB.xlf
  frontend/xliff/it.xlf
  frontend/xliff/sr.xlf
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@2cf61162d2959c9fcf558043e55739875a5ddddd 🚀
  devs/ref-python/genindex.html
  devs/ref-python/objects.inv
  devs/ref-python/searchindex.js
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-openapi/index.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@f7b32f29d6de5f17e2fe10bf6235de8e9ce7d32f 🚀
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

fix: Changes for Green-Score
  app/templates/display_results.html
Labels: none

fix: Update off.html
  frontend/public/off.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@ec525a27025e41570976e85635c5df72468b214c 🚀
  404.html
  assets/javascripts/bundle.79ae519e.min.js
  assets/javascripts/bundle.79ae519e.min.js.map
  assets/javascripts/bundle.d7400e89.min.js
  assets/javascripts/bundle.d7400e89.min.js.map
  assets/stylesheets/main.484c7ddc.min.css
  assets/stylesheets/main.484c7ddc.min.css.map
  assets/stylesheets/main.ec1eaa64.min.css
  assets/stylesheets/main.ec1eaa64.min.css.map
  devs/explain-architecture/index.html
  devs/explain-web-frontend/index.html
  devs/how-to-debug-backend/index.html
  devs/how-to-install/index.html
  devs/introduction/index.html
  devs/ref-python/cli.html
  devs/ref-python/searchindex.js
  index.html
  reports/2024-06 thoughts on scoring/index.html
  sitemap.xml
  sitemap.xml.gz
  users/explain-configuration/index.html
  users/explain-query-language/index.html
  users/explain-taxonomies/index.html
  users/how-to-install/index.html
  users/how-to-update-index/index.html
  users/how-to-use-scripts/index.html
  users/ref-config/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/index.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/index.html
  users/tutorial/index.html
Labels: none

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@67dfec6f92ad781400791f71d5ce27b45b07fe0c 🚀
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@6bd1b8d318d1e3056f312362693d57e7bef1c28f 🚀
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@916665a9784b645b928b048a2039357f130fb8d0 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

feat: add a util to conform perl json to ES
  app/utils/conform_json.py
  tests/unit/test_conform_json.py
Labels: none

fix(ci): correct USER_UID env var in pre-commit workflow (#380)
  .github/workflows/pre-commit.yml
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@e0838e4546fb2fd1af0933a547b3be5737167402 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

docs: auto-proposed slight docs enhancements (#423)
  docs/users/how-to-install.md
Labels: üìö Documentation

fix: Changes for Green-Score (#432)
  app/templates/display_results.html
  frontend/public/off.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@f46c888e80c31869bfcb4625ea45f9f3fb330a58 🚀
  search/search_index.json
  users/how-to-install/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

docs: Reorganize documentation structure for better navigation (#314)
  README.md
  docs/README.md
Labels: üìö Documentation

chore(techdebt): replace runtime TODO/FIXME with tracked markers (#391)
  app/charts.py
  app/facets.py
  app/query.py
  app/query_transformers.py
  docs/devs/runtime-techdebt.md
  frontend/src/search-suggester.ts
Labels: üìö Documentation

feat(WIP): making it possible to not handle synonyms
  .dockerignore
  Dockerfile
  app/_import.py
  app/cli/main.py
  app/config.py
  app/indexing.py
  app/openfoodfacts.py
  app/query.py
  app/utils/conform_json.py
  data/config/openfoodfacts.yml
  frontend/.dockerignore
  frontend/Dockerfile
  poetry.lock
  tests/int/test_analyze.py
  tests/unit/data/test_prod_config_openfoodfacts.json
  tests/unit/test__import.py
  tests/unit/test_conform_json.py
  tests/unit/test_indexing.py
Labels: üê≥ docker, Indexation, CLI

fix doc action
  frontend/package-lock.json
  frontend/package.json
Labels: none
