Repository openfoodfacts/search-a-licious, changes with the labels that .github/labeler.yml gives for each.
All labels: üìö Documentation, API, Build Scripts, üê≥ docker, Indexation, Taxonomies, CLI, Config

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
üìö Documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - 'docs/*'
API:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/sphinx/api.rst'
    - 'app/api.py'

Build Scripts:
- changed-files:
  - any-glob-to-any-file: 'scripts/Dockerfile.sphinx'
  - any-glob-to-any-file: 'scripts/build_*.sh'
  - any-glob-to-any-file: 'scripts/generate_doc.sh'
  - any-glob-to-any-file: 'scripts/sphinx/Makefile'

üê≥ docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Indexation:
- changed-files:
  - any-glob-to-any-file: 'app/indexing.py'
  - any-glob-to-any-file: 'docs/sphinx/index.rst'
  
Taxonomies:
- changed-files:
  - any-glob-to-any-file: 'app/taxonomy.py'
  - any-glob-to-any-file: 'app/taxonomy_es.py'
  
CLI:
- changed-files:
  - any-glob-to-any-file: 'app/cli/main.py'
  - any-glob-to-any-file: 'docs/sphinx/cli.rst'
  
Config:
- changed-files:
  - any-glob-to-any-file: 'docs/sphinx/config.rst'

#  - any-glob-to-any-file: 'app/query.py'
#  - any-glob-to-any-file: 'app/utils/analyzers.py'
#  - any-glob-to-any-file: 'app/utils/download.py'
#  - any-glob-to-any-file: 'app/validations.py'

feat(backend): improve status and error contract consistency
  app/_types.py
  app/api.py
  app/search.py
Labels: API

feat: add SearchClient abstraction for Elasticsearch and OpenSearch
  app/search_client.py
  poetry.lock
  pyproject.toml
Labels: none

refactor: decouple query execution from elasticsearch_dsl
  app/api.py
  app/postprocessing.py
  app/query.py
  app/utils/connection.py
Labels: API

fix: normalize alias management, script storage, and indices APIs
  app/_import.py
  app/es_scripts.py
  app/taxonomy_es.py
Labels: Taxonomies

feat: add OpenSearch local testing via docker-compose override
  docker-compose.override.yml
Labels: none

test: align tests and mocks with new SearchClient abstraction
  tests/int/test_analyze.py
  tests/unit/test__import.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@7e4a2f0a932dfa63e5469c5511df36769ccbd4d2 🚀
  404.html
  devs/explain-architecture/index.html
  devs/explain-web-frontend/index.html
  devs/how-to-debug-backend/index.html
  devs/how-to-install/index.html
  devs/introduction/index.html
  devs/ref-python/types.html
  index.html
  reports/2024-06 thoughts on scoring/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  users/explain-configuration/index.html
  users/explain-query-language/index.html
  users/explain-taxonomies/index.html
  users/how-to-install/index.html
  users/how-to-update-index/index.html
  users/how-to-use-scripts/index.html
  users/ref-config/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/index.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/index.html
  users/tutorial/index.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@b042ac4d7c7308da462acd23bdf57944a3f7e9f4 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

fix: Potential fix for 1 code quality finding (#370)
  docs/users/how-to-install.md
Labels: üìö Documentation

Apply suggested fix to docs/users/how-to-install.md from Copilot Autofix
  docs/users/how-to-install.md
Labels: üìö Documentation

Deploying to gh-pages from @ openfoodfacts/search-a-licious@a8f167b5e66656998e2c18c04406f85615889369 🚀
  search/search_index.json
  users/how-to-install/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Apply suggested fix to docs/users/how-to-install.md from Copilot Autofix
  docs/users/how-to-install.md
Labels: üìö Documentation

Deploying to gh-pages from @ openfoodfacts/search-a-licious@c465b07b3dac8c53f1fa3c9a62ba8195486dc16f 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@2ee9bcf356213f7a64cbc6912dde97e367ca0e65 🚀
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@77a0d6ffd7fed9ef86df2531efc587e6d42f53a6 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/dist/custom-elements.json
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@f064d08ae836b829d6b1e0abed120b37d81633e6 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
  users/ref-web-components/dist/custom-elements.json
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@b2bb8343af339f0bd4c1cd65cfde7f3313b2cbec 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@89cc5cf78bf4bac88c7eec9c2eb5e42bdfa1c8ce 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@9f7ea66f774e8cdb923f83a827807960cb8b2761 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Potential fix for pull request finding
  docs/users/how-to-install.md
Labels: üìö Documentation

Potential fix for pull request finding
  docs/users/how-to-install.md
Labels: üìö Documentation

ci: Update GitHub Actions for auto-labeling merge conflicts
  .github/workflows/merge-conflict-autolabel.yml
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@49f432687b8a85c5ba0e70b856c0c2bc9856ba21 🚀
  devs/ref-python/types.html
  sitemap.xml
  sitemap.xml.gz
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@2feebac8bf45e06bd28ba9d7ee5fa710f8e09ecb 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@47cbce3cf24c39d3b9a71b9294d9e6c79aa22096 🚀
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@bc178460ce156fa0c75de7a15574760ac288afc1 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

Deploying to gh-pages from @ openfoodfacts/search-a-licious@4b2df8965dbd31c885d01b490bee324e23c9fa1d 🚀
  devs/ref-python/types.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

feat: add serving_size and serving_quantity to OFF index schema
  data/config/openfoodfacts.yml
  tests/int/data/test_off.yml
  tests/int/test_search.py
  tests/unit/data/openfoodfacts_config.yml
  tests/unit/data/test_mapping.json
Labels: none

docs: small typos in the doc (#409)
  docs/users/how-to-install.md
Labels: üìö Documentation

Deploying to gh-pages from @ openfoodfacts/search-a-licious@3567eed5e38d3f7832785afa86d24e8629b87f23 🚀
  devs/ref-python/types.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  users/how-to-install/index.html
  users/ref-config/searchalicious-config-schema.html
  users/ref-settings/searchalicious-settings-schema.html
Labels: none

fix: top bar search resets state instead of refining
  frontend/package-lock.json
  frontend/src/search-bar.ts
  frontend/src/test/search-bar_test.ts
Labels: none

New translations en.xlf (Arabic)
  frontend/xliff/ar.xlf
Labels: none

New translations en.xlf (Italian)
  frontend/xliff/it.xlf
Labels: none

New translations en.xlf (Serbian (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

New translations en.xlf (Montenegrin (Cyrillic))
  frontend/xliff/sr.xlf
Labels: none

Update frontend/src/test/search-bar_test.ts
  frontend/src/test/search-bar_test.ts
Labels: none

Update frontend/src/test/search-bar_test.ts
  frontend/src/test/search-bar_test.ts
Labels: none

Update frontend/src/test/search-bar_test.ts
  frontend/src/test/search-bar_test.ts
Labels: none

feat(backend): improve status and error contract consistency (#406)
  app/_types.py
  app/api.py
  app/search.py
Labels: API

chore(main): release 1.5.0
  CHANGELOG.md
Labels: none
