Repository openfoodfacts/search-a-licious, pull requests merged in 2024-06, with the labels that each got.

#131 feat: Change CORS headers to allow JS queries
  .env
  .env.openfoodfacts
  .github/workflows/container-deploy.yml
  .github/workflows/pre-commit.yml
  README.md
  app/api.py
  docker-compose.yml
Labels: CORS

#118 feat: return selected facets in search API
  app/_types.py
  app/facets.py
  app/query.py
  app/search.py
  frontend/src/search-facets.ts
  tests/unit/data/complex_query.json
  tests/unit/data/empty_query_with_sort_by.json
  tests/unit/data/empty_query_with_sort_by_and_facets.json
  tests/unit/data/non_existing_filter_field.json
  tests/unit/data/simple_filter_query.json
  tests/unit/data/simple_full_text_query.json
  tests/unit/data/simple_full_text_query_facets.json
  tests/unit/data/sort_by_query.json
  tests/unit/test__import.py
  tests/unit/test_query.py
Labels: ✨ enhancement, facets

#121 feat: translating facets values using taxonomies
  Makefile
  README.md
  app/api.py
  app/config.py
  app/facets.py
  app/search.py
  app/taxonomy_es.py
  data/config/openfoodfacts.yml
  tests/unit/data/openfoodfacts_config.yml
Labels: ✨ enhancement, facets, 🌐 i18n

#133 feat: create healthchecks
  app/api.py
  app/health.py
  app/utils/connection.py
  poetry.lock
  pyproject.toml
Labels: OpenAPI

#134 feat: user can select a facet value eg category which is not yet displayed - fixes #125
  frontend/public/off.html
  frontend/src/button-transparent.ts
  frontend/src/enums.ts
  frontend/src/icons/cross.ts
  frontend/src/mixins/debounce.ts
  frontend/src/mixins/search-action.ts
  frontend/src/mixins/search-ctl.ts
  frontend/src/mixins/search-results-ctl.ts
  frontend/src/mixins/suggestions-ctl.ts
  frontend/src/mixins/utils.ts
  frontend/src/search-a-licious.ts
  frontend/src/search-autocomplete.ts
  frontend/src/search-bar.ts
  frontend/src/search-button.ts
  frontend/src/search-checkbox.ts
  frontend/src/search-facets.ts
  frontend/src/search-pages.ts
  frontend/src/search-results.ts
  frontend/src/secondary-button.ts
  frontend/src/test/search-pages_test.ts
  frontend/src/test/search-results_test.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/enums.ts
  frontend/src/utils/taxonomies.ts
Labels: ✨ enhancement, side panel

#137 feat: sorting with scripts API
  .pre-commit-config.yaml
  app/_types.py
  app/api.py
  app/cli/main.py
  app/config.py
  app/es_scripts.py
  app/facets.py
  app/query.py
  app/search.py
  app/taxonomy_es.py
  app/utils/connection.py
  app/utils/str_utils.py
  app/validations.py
  data/config/openfoodfacts.yml
  docs/reports/2024-06 thoughts on scoring.md
  pyproject.toml
  tests/unit/data/openfoodfacts_config.yml
  tests/unit/test_query.py
Labels: personal ranking

#157 feat: implement scores distributions charts
  frontend/.eslintrc.json
  frontend/README.md
  frontend/public/off.html
  frontend/public/vega5.js
  frontend/src/mixins/search-results-ctl.ts
  frontend/src/search-a-licious.ts
  frontend/src/search-chart.ts
Labels: ✨ enhancement, charts
